@font-face {
	font-family: Montserrat;
	src: url(../fonts/montserrat.ttf);
}

@font-face {
	font-family: Abril;
	src: url(../fonts/abril.ttf);
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to bottom right, papayawhip, paleturquoise);
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Montserrat;
}

/* Navigation Bar CSS */

.nav > li {
	color: #fff;
	text-shadow: 0px 0px 5px black;
}

.nav > li:hover {
	color: black;
	text-shadow: 0px 0px 15px white;
}

.navbar-default {
	background: transparent;
	border-style: none;
}

.navbar-default.scrolled {
	background: #fff;
	transition: background-color 200ms linear;
	color: gray;
}

.navbar-default .navbar-brand {
	color: #fff;
	text-shadow: 0px 0px 2px black;
}

.navbar-brand:hover {
	color: black;
	text-shadow: 0px 0px 15px white;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	margin-right: 20px;
}
.navbar-default.scrolled .navbar-brand {
	color: #000;
	text-shadow: 0px 0px 15px white;
}

.navbar-default.scrolled .navbar-nav > li > a {
	color: #000;
	text-shadow: 0px 0px 15px white;
	margin-right: 20px;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.container-fluid {
	padding: 0;
}

.form-control {
	text-align: center;
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Landing Page CSS */

.landing-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	height: 100vh;
	background: url("../images/brewsky.png") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.start_title {
	display: flex;
	justify-content: center;
	text-align: center;
	font-family: Abril;
	font-size: 100px;
	color: seashell;
	text-shadow: 0 0 30px black;
}

.start_title:hover {
	cursor: default;
}

.start_button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: grey;
	border: 3px solid white;
	font-family: Montserrat;
	font-size: 3vmin;
	width: 50%;
	height: 10%;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.3);
	margin: auto;
}
.start_button:hover {
	cursor: pointer;
	border-color: white;
	background-color: white;
}

/* Search Page CSS  */

.search_tag_line > span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 3vmax;
	font-family: Abril;
	color: cadetblue;
	cursor: default;
}

.state-code {
	text-transform: uppercase;
}
.submit-button {
	width: 100%;
}

.row {
	margin: 2% auto;
}

.landing-page {
	margin: 0% auto;
}

/* Events Page CSS */

.show-container {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
.show_tag_line {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 3vmax;
	font-family: Abril;
	color: cadetblue;
}
.media {
	margin-top: 0;
}

.show-image {
	width: 100%;
}

.image-div {
	width: 100%;
	height: 15vmax;
	overflow: hidden;
}

.show-details,
.show-venue {
	font-size: 2vmin;
	margin-bottom: 5px;
}

#map {
	height: 100%;
	width: 100%;
}

.show-name {
	margin-top: 0;
	margin-bottom: 2px;
	font-size: 4vmin;
	font-weight: 700;
	line-height: 1;
}

.show-listing {
	border-radius: 10px;
	border: 3px solid transparent;
	box-shadow: 0px 0px 20px 8px transparent;
}

.show-listing:hover {
	border: 3px solid white;
	box-shadow: 0px 0px 20px 8px #a6a6a6;
	z-index: 1;
	cursor: pointer;
}

.show-details,
.show-venue {
	font-size: 2vmin;
	margin-bottom: 5px;
}

.error-message {
	padding: 1%;
	text-align: center;
}

/* Google Map CSS */

.wrapper hr {
	margin-top: 0;
	margin-bottom: 2%;
}

.wrapper,
#map {
	height: 100%;
	width: 100%;
}
.wrapper {
	position: relative;
	display: inline-block;
	width: 74%;
}

.informationOverlay {
	z-index: 5;
	height: 100%;
	width: 26%;
	padding: 2%;
	background-color: #ffffff;
	overflow: scroll;
	float: left;
}

.informationOverlay h4 {
	text-align: center;
	font-size: 2.5vmin;
}

.informationOverlay h3 {
	text-align: center;
	font-size: 3vmin;
}

.informationOverlay p {
	font-size: 2vmin;
}

.backToEventsDiv {
	text-decoration: none;
	color: black;
}
.backToEventsDiv:hover {
	cursor: pointer;
	color: lightblue;
	text-decoration: none;
}

.backToEventsIcon {
	display: inline-block;
	position: relative;
	font-size: 3vmin;
}

.backToEventsText {
	display: inline-block;
}

.infoTitle {
	text-align: center;
}

.mapKey {
	position: absolute;
	right: 3%;
	top: 0%;
	z-index: 5;
	height: 5%;
	width: 20%;
	background-color: #ffffff;
}

.mapKey > ul {
	position: absolute;
	list-style: none;
	padding: 0;
}

.eventInfo > .sectionInfo,
.foodInfo > .sectionInfo {
	width: 100%;
}

.informationOverlay .extra-event-info {
	font-size: 0.7em;
	margin-top: 4%;
}

.foodInfo .foodImage,
.eventInfo .eventImage {
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.markerImg {
	height: 100px;
	width: 150px;
}

.markerKey,
.informationOverlay h4 {
	display: inline-block;
}

img.markerKey {
	width: 10%;
}
.markerImg {
	height: 100px;
	width: 150px;
}

.map-event-name,
.map-food-name {
	font-weight: 700;
}

/* Media Queries */

@media (max-width: 780px) {
	.informationOverlay p {
		font-size: 3.5vmin;
	}
	.sectionInfo {
		display: flex;
	}

	.event-header,
	.event-body,
	.restaurant-header,
	.restaurant-body {
		width: 48%;
		margin: auto;
	}
}

/* iPhone 6,7,8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.start_button {
		margin-top: 10px;
		height: 35px;
	}
	.collapsed {
		background-color: white;
	}

	.informationOverlay p {
		font-size: 3.5vmin;
	}
	.sectionInfo {
		display: flex;
	}

	.event-header,
	.event-body,
	.restaurant-header,
	.restaurant-body {
		width: 48%;
		margin: auto;
	}
}

/* iPhone 6+,7+,8+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
	.start_button {
		margin-top: 10px;
		height: 35px;
	}
	.collapsed {
		background-color: white;
	}
}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
	.start_button {
		height: 40px;
	}
	.collapsed {
		background-color: white;
	}
}

/* Galaxy S4, S5, Note 3 */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	.start_button {
		margin-top: 10px;
		height: 35px;
	}
	.collapsed {
		background-color: white;
	}
}

/* Google Map Media Query */

@media all and (max-width: 780px) {
	.informationOverlay {
		float: none;
		width: 100%;
		position: relative;
		display: block;
		overflow: visible;
		height: auto;
	}
	.wrapper {
		position: relative;
		display: inline;
	}
	.wrapper,
	#map {
		height: 50%;
		width: 100%;
	}
}

/* Print Media Query */

@media print {
	#home-page,
	#search-page,
	#event-page {
		display: none !important;
	}

	#map {
		transform: rotate(90deg);
		page-break-after: always;
	}

	.informationOverlay {
		transform: rotate(90deg);
		height: 100%;
	}
}
