html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, papayawhip, paleturquoise);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form-control {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.submit-button {
  width: 100%;
}

/* .landing-page {
  width: 50%;
} */

.row {
  margin: 2% auto;
}

.show-container {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.media {
  margin-top: 0;
}
