body {
  height: 100vh;
  /*width: 100vw;*/
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, papayawhip, paleturquoise);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

/* Navigation Bar CSS */

.navbar-default {
  background: transparent;
  border-style: none;
}

.navbar-default.scrolled {
  background: #fff;
  transition: background-color 200ms linear;
  color: gray;
}

.navbar-default .navbar-brand {
  color: #fff;
  padding-left: 64%;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  margin-right: 20px;
}
.navbar-default.scrolled .navbar-brand {
  color: #000;
  margin-left: 20px;
}

.navbar-default.scrolled .navbar-nav > li > a {
  color: #000;
  margin-right: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.container-fluid {
  padding: 0;
}

.form-control {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*width: 100%;*/
}

/* Landing Page CSS */

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  /*width: 100vw;*/
  background: url("images/brewsky.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.start_title {
  display: flex;
  justify-content: center;
  font-family: "Abril Fatface", cursive;
  font-size: 15vmin;
  color: seashell;
  text-shadow: 0 0 30px black;
}
.start_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  border: 3px solid white;
  font-family: "Montserrat", sans-serif;
  font-size: 3vmin;
  height: 3vmax;
  width: 50%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
}
.start_button:hover {
  cursor: pointer;
  border-color: white;
  background-color: white;
}

/* Search Page CSS  */

.search_tag_line > span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 3vmax;
  font-family: "Abril Fatface", cursive;
  color: cadetblue;
}
.submit-button {
  width: 100%;
}

.row {
  margin: 2% auto;
}

.landing-page {
  margin: 0% auto;
}

/* Events Page CSS */

.show-container {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.show_tag_line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 3vmax;
  font-family: "Abril Fatface", cursive;
  color: cadetblue;
}
.media {
  margin-top: 0;
}

.show-image {
  width: 100%;
}

.image-div {
  width: 100%;
  height: 15vmax;
  overflow: hidden;
}

.show-details,
.show-venue {
  font-size: 2vmin;
  margin-bottom: 5px;
}

.show-name {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 4vmin;
  font-weight: 700;
  line-height: 1;
}

.show-listing {
  border-radius: 10px;
}

.show-listing:hover {
  border: 3px solid white;
  box-shadow: 0px 0px 20px 8px #a6a6a6;
  z-index: 1;
  cursor: pointer;
}

.show-details,
.show-venue {
  font-size: 2vmin;
  margin-bottom: 5px;
}

.error-message {
  padding: 1%;
  text-align: center;
}

/* Google Map CSS */

.wrapper hr {
  margin-top: 0;
  margin-bottom: 2%;
}

.wrapper,
#map {
  height: 100%;
  width: 100%;
}
.wrapper {
  position: relative;
}

.informationOverlay {
  position: absolute;
  top: 6%;
  left: 0;
  z-index: 99;
  height: 91%;
  width: 26%;
  padding: 2%;
  background-color: #ffffff;
  overflow: auto;
}

.informationOverlay h4 {
  text-align: center;
  font-size: 2.5vmin;
}

.informationOverlay h3 {
  text-align: center;
  font-size: 3vmin;
}

.informationOverlay p {
  font-size: 2vmin;
}

.infoTitle {
  text-align: center;
}

.mapKey {
  position: absolute;
  right: 3%;
  top: 0%;
  z-index: 99;
  height: 5%;
  width: 20%;
  background-color: #ffffff;
}

.mapKey > ul {
  position: absolute;
  list-style: none;
  padding: 0;
}

.eventInfo > .sectionInfo,
.foodInfo > .sectionInfo {
  width: 100%;
}

.foodInfo .foodImage,
.eventInfo .eventImage {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.markerImg {
  height: 100px;
  width: 150px;
}

.markerKey,
.informationOverlay h4 {
  display: inline-block;
}

img.markerKey {
  width: 10%;
}
.markerImg {
  height: 100px;
  width: 150px;
}

.map-event-name,
.map-food-name {
  font-weight: 700;
}
