html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, papayawhip, paleturquoise);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form-control {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.landing-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Ranga', cursive;
  background: url('images/brewsky.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  }

.submit-button {
  width: 100%;
}


.row {
  margin: 2% auto;
}

.show-container {
  height: 100%;
}

.media {
  margin-top: 0;
}

.artist > img {
  width: 100%;
}

.show-details,
.show-venue {
  font-size: 2vmin;
  margin-bottom: 5px;
}

.show-name {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 4vmin;
  font-weight: 500;
  line-height: 1;
}
/*--------------------- MAP -----------------------------------*/

.wrapper,
#map {
  height: 100%;
}
.wrapper {
  position: relative;
}

.informationOverlay {
  position: absolute;
  top: 6%;
  left: 0%;
  z-index: 99;
  height: 91%;
  width: 20%;
  background-color: #ffffff;
}

.mapKey {
  position: absolute;
  right: 3%;
  top: 0%;
  z-index: 99;
  height: 5%;
  width: 20%;
  background-color: #ffffff;
}

.mapKey > ul {
  position: absolute;
  list-style: none;
  padding: 0;
}

.mapKey > ul > li {
  display: inline-block;
}

.mapKey > ul > li > p {
  display: inline-block;
  font-size: 1vmin;
}

.mapKey > ul > li > img {
  display: inline-block;
  width: 50%;
}

.eventImage {
  width: 100%;
}

.eventInfo > div {
  width: 100%;
}

.show-details,
.show-venue {
  font-size: 2vmin;
  margin-bottom: 5px;
}

.show-name {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 5vmin;
  font-weight: 500;
  line-height: 1;
}

.error-message {
  padding: 1%;
  text-align: center;
}
